@using Scoreboards.Features.Football;
<div class="container-fluid scoreboard">
    <div class="layout">
        <div class="row">
            <div class="col col-md-8 team-name">@ViewModel.HomeTeam.Name</div>
            <div class="col col-md-2 team-score">@ViewModel.HomeTeam.Score</div>
            <div class="col col-md-2 clock">@DateTime.Now.ToString("HH:mm")</div>
        </div>
        <div class="row">
            <div class="col col-md-8 team-name">@ViewModel.AwayTeam.Name</div>
            <div class="col col-md-2 team-score">@ViewModel.AwayTeam.Score</div>
            <div class="col col-md-2 clock">@ViewModel.GetClockString()</div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public FootballScoreboardViewModel ViewModel { get; set; } = new FootballScoreboardViewModel();
}

<style>
    .scoreboard {
        color: #fff;
        background: @ViewModel.HomeTeam.AccentColorHex;
        font-size: 36px;
        padding-top:25vh;
        height:100vh;
    }
    .scoreboard .layout {
        height:25vh;
        padding-top:2.5vh;
/*        border:1px solid #fff;
*/    }
    .scoreboard .team-name {
        text-align:left;
        text-transform:uppercase;
    }
    .scoreboard .team-score {
        text-align:right;
        font-size:46px;
        margin-top:-10px;
        font-weight:bold;
    }.scoreboard .clock {
        text-align:right;
     
    }
</style>