@using Scoreboards.Data.Baseball;
<div class="ui-linescore">
    <table style="width:100%">
        @if (ShowHeadingRow)
        {
            <thead>
                <tr>
                    <th class="team-name">Team</th>
                    <th class="inning-item">1</th>
                    <th class="inning-item">2</th>
                    <th class="inning-item">3</th>
                    <th class="inning-item">4</th>
                    <th class="inning-item">5</th>
                    <th class="inning-item">6</th>
                    <th class="inning-item">7</th>
                    <th class="inning-item">8</th>
                    <th class="inning-item">9</th>
                    <th class="rhe-column runs">R</th>
                    <th class="rhe-column hits">H</th>
                    <th class="rhe-column errors">E</th>
                </tr>
            </thead>
        }
        <tbody>
            <tr>
                <td class="away team-name">
                    @if(UseTeamAbbreviations)
                    {
                        @AwayTeam.Abbreviation
                    }
                    else
                    {
                        @AwayTeam.Name
                    }
                </td>

                @for (int i = 0; i < 9; i++)
                {
                    var item = AwayTeam.Stats.Linescore[i];
                    <td id="inning-item away-@i" @key="@i">@item.Runs</td>
                }
                <td class="away rhe-column runs">@AwayTeam.Stats.Runs</td>
                <td class="away rhe-column hits">@AwayTeam.Stats.Hits</td>
                <td class="away rhe-column errors">@AwayTeam.Stats.Errors</td>

            </tr>
            <tr>
                <td class="home team-name">
                    @if (UseTeamAbbreviations)
                    {
                        @HomeTeam.Abbreviation
                    }
                    else
                    {
                        @HomeTeam.Name
                    }
                </td>

                @for (int i = 0; i < 9; i++)
                {
                    var item = HomeTeam.Stats.Linescore[i];
                    <td id="home inning-item home-@i" @key="@i">@item.Runs</td>
                }
                <td class="home rhe-column runs">@HomeTeam.Stats.Runs</td>
                <td class="home rhe-column hits">@HomeTeam.Stats.Hits</td>
                <td class="home rhe-column erors">@HomeTeam.Stats.Errors</td>
            </tr>

        </tbody>
    </table>
</div>
@code {
    [Parameter]
    public BaseballTeam HomeTeam { get; set; } = new BaseballTeam();
    [Parameter]
    public BaseballTeam AwayTeam { get; set; } = new BaseballTeam();

    //
    [Parameter]
    public bool ShowHeadingRow { get; set; } = true;
    [Parameter]
    public bool UseTeamAbbreviations { get; set; } = true;
}