@using Scoreboards.Data.Football;
@{
    var homeStats = HomeTeam.Stats;
    var awayStats = AwayTeam.Stats;
}
<table class="table stats-table">
    <tr>
        <td>@homeStats.Possession</td>
        <td>Possession</td>
        <td>@awayStats.Possession</td>
    </tr>
    <tr>
        <td>@homeStats.Shots</td>
        <td>Shots</td>
        <td>@awayStats.Shots</td>
    </tr>
    <tr>
        <td>@homeStats.ShotsOnTarget</td>
        <td>Shots (on target)</td>
        <td>@awayStats.ShotsOnTarget</td>
    </tr>
     <tr>
        <td>@homeStats.GoalkeeperSaves</td>
        <td>Saves</td>
        <td>@awayStats.GoalkeeperSaves</td>
    </tr>
     <tr>
        <td>@homeStats.CornerKicks</td>
        <td>Corners</td>
        <td>@awayStats.CornerKicks</td>
    </tr>
    <tr>
        <td>@homeStats.Offsides</td>
        <td>Offsides</td>
        <td>@awayStats.Offsides</td>
    </tr> <tr>
        <td>@homeStats.Fouls</td>
        <td>Fouls Committed</td>
        <td>@awayStats.Fouls</td>
    </tr> <tr>
        <td>@homeStats.YellowCards/@homeStats.RedCards</td>
        <td>Yellow/Red Cards</td>
        <td>@awayStats.YellowCards/@awayStats.RedCards</td>
    </tr>

</table>

@code {
    [Parameter]
    public FootballTeam HomeTeam { get; set; } = new FootballTeam();
    [Parameter]
    public FootballTeam AwayTeam { get; set; } = new FootballTeam();
}